rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
      allow get;
      allow create: if isSigneIn();
      allow update: if request.auth.uid;

    }

    match /posts/{postId} {
      allow write;
      allow read;
      allow create: if isSigneIn();
      allow update: if isSigneIn();
      allow delete: if isSigneIn() && request.auth.uid == resource.data.userId;
    }



    function isSigneIn() {
      return request.auth != null;
    }

  }
}
