rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
      allow get;
      allow create: if isSigneIn() && isNotExist();
      allow update: if request.auth.uid == userId &&
                       request.resource.data == resource.data;
    }

    match /posts/{postId} {
      allow read;
      allow create: if isSigneIn() && isNotExist();
      allow update: if isSigneIn();
      allow delete: if isSigneIn() && request.auth.uid == resource.data.userId;
    }


    function isSigneIn() {
      return request.auth != null;
    }

    function isNotExist() {
      return resource == null;
    }

  }
}
